.buttonText {
  position: relative;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
}

.buttonTextOriginal,
.buttonTextCopy {
  display: block;
  transition: transform 0.35s ease-in-out;
}

.buttonTextCopy {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
